*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	 box-sizing: border-box;
}

}

.header{
	display: flex;
}
.Logo{
	color: red;
	display: flex;
}

/*.Name {
	margin-right: 30px;
	margin-top: 20px;
	display: flex;
}

.Profile{
	display: flex;
}*/